# Python caches
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Python packaging
build/
dist/
*.egg-info/

# Shiny and local app state
*.log

rsconnect-python/
split_excel_sheets.py
EVDataExplorer2025.xlsx